name: Build and Deploy
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false 

      - name: Install and Build
        run: |
          cd tippapp-client
          npm install
          npm run build
        env:
          VUE_APP_API_KEY: ${{ secrets.VUE_APP_API_KEY }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.6.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: tippapp-client/dist
